<!DOCTYPE html>
<html lang="en">
<%- include('header.ejs')%>

    <div class="container">
        <h2>스마트폰 정보 등록</h2>
        <table class="table table-hover">
            <tr>
                <th>기종</th>
                <td><%=data.name%></td>
            </tr>
            <tr>
                <th>가격</th>
                <td><%=data.price%></td>
            </tr>
            <tr>
                <th>회사</th>
                <td><%=data.company%></td>
            </tr>
            <tr>
                <th>제작연도</th>
                <td><%=data.year%></td>
            </tr>
            <tr>
                <th colspan="2">
                    <a class="btn btn-dark" href="/home">목록</a>
                    <a class="btn btn-dark" href="/">메인</a>
                    <a class="btn btn-dark" href="/input">새 정보 등록</a>
                    <a class="btn btn-dark" href="/modify/<%=data.pno%>">수정</a>
                    <a class="btn btn-dark" href="/delete/<%=data.pno%>">삭제</a>
                
                </th>
                
            </tr>
        </table>
    </div>
</body>
</html>