<!DOCTYPE html>
<html lang="en">
<%- include('header.ejs')%>

    <div class="container">
        <h2>스마트폰 목록</h2>
        <table class="table table-hover">
            <tr>
                <th>번호</th>
                <th>기종</th>
                <th>가격</th>
                <th>제조사</th>
                <th>출시</th>
            </tr>
            <% phoneList.forEach(function(phone) { %>
                <tr>
                    <td><%=phone.pno %></td>
                    <td><a href="/detail/<%=phone.pno %>"><%=phone.name %></a></td>
                    <td><%=phone.price %></td>
                    <td><%=phone.company %></td>
                    <td><%=phone.year %></td>
                </tr>
                <% }); %>
        </table>
        <a class="btn btn-dark" href="/input">입력</a>
    </div>
</body>

</html>