<!DOCTYPE html>
<html lang="en">
<%- include('header.ejs')%>

    <div class="container">
        <h2>스마트폰 정보 등록</h2>
        <form action="/modify" method="POST">
            <table class="table table-hover" >
                <tr>
                    <th>번호</th>
                    <td><%=data.pno%><input type="hidden" name="pno" value="<%=data.pno%>"></td>
                </tr>
                <tr>
                    <th>기종</th>
                    <td><input type="text" name="name" value="<%=data.name%>"></td>
                </tr>
                <tr>
                    <th>가격</th>
                    <td><input type="text" name="price" value="<%=data.price%>"></td>
                </tr>
                <tr>
                    <th>회사</th>
                    <td><input type="text" name="company" value="<%=data.company%>"></td>
                </tr>
                <tr>
                    <th>제작연도</th>
                    <td><input type="text" name="year" value="<%=data.year%>"></td>
                </tr>
                <tr>
                    <th colspan="2">
                        <input type="submit" class="btn btn-dark" value="수정완료">
                    </th>
                    
                </tr>
            </table>
        </form>
    </div>
</body>
</html>